body {
    background-image: url("images/pizza_wizard.jpg");
    
    background-size: 100% 100%;
}

h1 {
    font-size: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 195, 255);
    text-align: center;
    padding: 50px;
    margin: auto;
    text-shadow: 1px 1px 12px rgb(213, 4, 255), 1px 1px 5px red;
}

.header {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 10px rgb(0, 0, 0), -1px -1px 5px black;
}

#downArrow {
    font-size: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 195, 255);
    text-align: center;
    padding: 15px, 0px, 15px;
    margin: auto;
    text-shadow: 1px 1px 12px rgb(213, 4, 255), 1px 1px 5px red;
}

.card {
    background-color: rgba(245, 245, 245, .7);
    
}

.card-img-top {
    opacity: 1;
    border: 2px solid black;
}

.card-title {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: auto;
    text-shadow: 0px 0px 6px rgb(153, 0, 255);

}

.card-body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin: auto;
}

.checkbox-inline {
    font-size: 1.2rem;
    margin:auto;
    margin-left: 25px;
    padding: auto;
    padding-bottom: 20px;
}

.radio-inline {
    font-size: 1.2rem;
    margin:auto;
    margin-top: 0px;
    margin-left: 25px;
    padding-top: 0px;
    padding-bottom: 40px;
}

#sauces {
    font-size: 28px;
}

#size {
    font-size: 22px;
}

#cheeses {
    font-size: 25px;
}

.button {
	cursor: pointer;
    color: rgb(255, 255, 255);
	width: 100%;
	display: inline-block;
	border-radius: .5em;
	margin: 20px 40px 20px 40px;
	padding-top: 15px;
    font: 22px sans-serif;
	background-color: rgba(132, 0, 255, 0.95); /*#6486bc;*/
	box-shadow: 0 0 0 2px rgba(255,255,255, .8);
	transition-property: transform background, box-shadow, color;
	transition-duration: .2s, .5s, .2s;
	transition-timing-function: ease-in-out;
}

.button>p {
	text-align: center;
	font-weight: bold;
}

.button:hover {
	font: 22px sans-serif;
	font-weight: bold;
	color: #000;
	background-color: rgba(255, 255, 255, .6);
	box-shadow: 0 0 0 2px #080054;
}

.controls {
	display: flex;
    flex-direction: columns;
    justify-content: space-between;
	margin: 0 auto;
	width: 550px;
}

.controls>.button {
	flex: 1 150px;
}

#cart {
	margin: auto;
	width: 510px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
	background-color: rgba(255, 255, 255, 1);
	border: 2px solid #080054;
	box-shadow: 0 0 0 3px rgba(255,255,255, .8);
	border-radius: 5px;
}

#title1 {
    color: #fff;
    text-align: center;
	flex: 1 250px;
	height: 50px;
	width: 250px;
	padding: 5px 0 0px 10px;
	background-color: rgba(0, 68, 179, 0.8);
	border-radius: 5px 0 0 0;
	text-shadow: 1.5px 1.5px 5px #00f, 1px 1px 5px #000;
}

#title2 {
    color: #fff;
    text-align: center;
	flex: 1 250px;
	height: 50px;
	width: 250px;
	padding: 5px 0 0px 10px;
	background-color: rgba(0, 68, 179, .8);
	border-radius: 0 5px 0 0;
	text-shadow: 1.5px 1.5px 5px #00f, 1px 1px 5px #000;
}

#showText1 {
	font-size: 16px;
	flex: 1 250px;
	padding: 10px 0 10px 15px;
	width: 250px;
	border-radius: 0 0 0 0;
}

#showText2 {
    font-size: 16px;
    text-align: right;
	flex: 1 250px;
	padding: 10px 75px 10px 10px;
	width: 250px;
	border-radius: 0 0 0 0;
}

#totalPrice1 {
	flex: 1 250px;
	padding: 0 0 10px 10px;
	width: 375px;
	border-radius: 0 0 0 0;
}

#totalPrice2 {
    flex: 1 250px;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: right;
    padding: auto;
    padding-top: 3px;
    padding-right: 75px;
    
	width: 375px;
	border-radius: 0 0 0 0;
}